################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/DWHSTA.Mobile/DWHSTA/bin
/src/DWHSTA.Mobile/DWHSTA/obj
/src/DWHSTA.Mobile/DWHSTA.Android/bin
/src/DWHSTA.Mobile/DWHSTA.Android/obj
/src/DWHSTA.Mobile/DWHSTA.iOS/obj
/src/DWHSTA.Mobile/DWHSTA.UWP/bin
/src/DWHSTA.Mobile/DWHSTA.UWP/obj
/src/packages
/.vs
